<h2><%= @booking.room.name %></h2>
<p><%= @booking.room.location.name %></p>
<p><%= @booking.room.location.address %></p>
<p>Provided by: <%= @booking.room.organization.name %></p>

<% start_date = params[:start_date].to_datetime.strftime('%F') if params[:start_date] %>
<% start_time = params[:start_date].to_datetime.strftime('%I:%M %p') if params[:start_date] %>
<% end_time = (params[:start_date].to_datetime + 30.minutes).strftime('%I:%M %p') if params[:start_date] %>

<%= form_for(shallow_routing_args(@booking.room, @booking), :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :calendar_id %>

  <div class="form-group">
    <%= f.label :name , "Booking name", :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.text_area :description, :class => 'text_field', rows: 2  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_all_day , "All day?", :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.check_box :is_all_day, default: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :time_zone , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.time_zone_select(:time_zone, nil, :default => "London")%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :from_date , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.date_select :from_date %>
    </div>
  </div>

  <div class="form-group booking_time">
    <%= f.label :from_time , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.time_select :from_time %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :to_date , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.date_select :to_date %>
    </div>
  </div>

  <div class="form-group booking_time">
    <%= f.label :to_time , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.time_select :to_time %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :repeats, :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.select :repeats, Booking::RepeatsOptions, default: 'never' %>
    </div>
  </div>

  <!-- Insert Point -->

  <%= render partial: 'repeats_daily_options', locals: {f: f} %>
  <%= render partial: 'repeats_weekly_options', locals: {f: f} %>
  <%= render partial: 'repeats_monthly_options', locals: {f: f} %>
  <%= render partial: 'repeats_yearly_options', locals: {f: f} %>

  <div id="repeats_options" class="form-group ">
    <%= f.label :repeat_ends, :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.select :repeat_ends, Booking::RepeatEndsOptions %>
    </div>
  </div>

  <div id="booking_repeat_ends_on" class="form-group">
    <div class="col-sm-6 col-sm-offset-4">
      <%= f.date_select :repeat_ends_on  %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4">Booking owner</label>
    <div class="col-sm-6">
      <p class="form-control-static">
        <%= @booking.booker.name if @booking.booker %>
      </p>
    </div>
  </div>

  <div class="form-actions">
    <div class="col-sm-offset-4 col-sm-6">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
