<%= form_for(shallow_routing_args(@room, @booking), :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_all_day , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.check_box :is_all_day %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_zone , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.time_zone_select(:time_zone, nil, :default => "London")%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :from_date , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.date_select :from_date %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :from_time , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.time_select :from_time %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :to_date , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.date_select :to_date %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :to_time , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.time_select :to_time %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.select(:repeats, options_for_select(Booking::RepeatsOptions.map{|option| [option, option]}), {prompt: 'SELECT', include_blanks: 'None'})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_every_n_days , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_every_n_days %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_every_n_weeks , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_every_n_weeks %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_weekly_each_days_of_the_week_mask , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_weekly_each_days_of_the_week_mask %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_every_n_months , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_every_n_months %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_monthly , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.select(:repeats_monthly, options_for_select(Booking::RepeatMonthlyOptions.map{|option| [option, option]}), {prompt: 'SELECT', include_blanks: 'None'})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_monthly_each_days_of_the_month_mask , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_monthly_each_days_of_the_month_mask %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_monthly_on_ordinals_mask , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_monthly_on_ordinals_mask %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_monthly_on_days_of_the_week_mask , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_monthly_on_days_of_the_week_mask %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_every_n_years , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_every_n_years %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_yearly_each_months_of_the_year_mask , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_yearly_each_months_of_the_year_mask %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_yearly_on , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.check_box :repeats_yearly_on %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_yearly_on_ordinals_mask , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_yearly_on_ordinals_mask %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeats_yearly_on_days_of_the_week_mask , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :repeats_yearly_on_days_of_the_week_mask %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeat_ends , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.select(:repeat_ends, options_for_select(Booking::RepeatEndsOptions.map{|option| [option, option]}), {prompt: 'SELECT', include_blanks: 'None'})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repeat_ends_on , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.date_select :repeat_ends_on %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :calendar_id , :class => 'control-label col-sm-4' %>
    <div class="col-sm-6">
      <%= f.number_field :calendar_id %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4">Booked by</label>
    <div class="col-sm-6">
      <p class="form-control-static">
        <%= @booking.booker.name if @booking.booker %>
      </p>
    </div>
  </div>
  
  <div class="form-actions">
    <div class="col-sm-offset-4 col-sm-6">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
