
<%- model_class = Booking -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div>
  <%= link_to 'Edit', edit_booking_path(@booking), :class => 'btn btn-default' %>
  <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default' %>
  <%= link_to 'Back To Calendar', root_path, :class => 'btn btn-danger' %>
  <%= link_to 'Edit', edit_booking_path(@booking), :class => 'btn btn-primary' %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @booking.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @booking.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_all_day) %>:</strong></dt>
  <dd><%= @booking.is_all_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_zone) %>:</strong></dt>
  <dd><%= ActiveSupport::TimeZone[@booking.time_zone].name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from) %>:</strong></dt>
  <dd><%= @booking.from.utc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to) %>:</strong></dt>
  <dd><%= @booking.to.utc %></dd>
  <dt><strong>Duration:</strong></dt>
  <dd><%= @booking.schedule.duration %></dd>
  <dt><strong>Schedule:</strong></dt>
  <dd><%= @booking.schedule %></dd>
  <dt><strong>Booked by:</strong></dt>
  <dd><%= @booking.booker.name %></dd>
  <dt><strong>Booked created:</strong></dt>
  <dd><%= @booking.created_at%></dd>
  <dt><strong>Booked last updated:</strong></dt>
  <dd><%= @booking.updated_at%></dd>
</dl>
<strong>Upcomming Reservations:</strong>
<% @booking.schedule.first(5).each do |e| %>
  <br/>
  <%= e.to_s %>
<% end %>