
<%- model_class = Booking -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @booking.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @booking.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_all_day) %>:</strong></dt>
  <dd><%= @booking.is_all_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_date) %>:</strong></dt>
  <dd><%= @booking.from_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_time) %>:</strong></dt>
  <dd><%= @booking.from_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_date) %>:</strong></dt>
  <dd><%= @booking.to_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_time) %>:</strong></dt>
  <dd><%= @booking.to_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats) %>:</strong></dt>
  <dd><%= @booking.repeats %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_every_n_days) %>:</strong></dt>
  <dd><%= @booking.repeats_every_n_days %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_every_n_weeks) %>:</strong></dt>
  <dd><%= @booking.repeats_every_n_weeks %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_weekly_each_days_of_the_week_mask) %>:</strong></dt>
  <dd><%= @booking.repeats_weekly_each_days_of_the_week_mask %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_every_n_months) %>:</strong></dt>
  <dd><%= @booking.repeats_every_n_months %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_monthly) %>:</strong></dt>
  <dd><%= @booking.repeats_monthly %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_monthly_each_days_of_the_month_mask) %>:</strong></dt>
  <dd><%= @booking.repeats_monthly_each_days_of_the_month_mask %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_monthly_on_ordinals_mask) %>:</strong></dt>
  <dd><%= @booking.repeats_monthly_on_ordinals_mask %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_monthly_on_days_of_the_week_mask) %>:</strong></dt>
  <dd><%= @booking.repeats_monthly_on_days_of_the_week_mask %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_every_n_years) %>:</strong></dt>
  <dd><%= @booking.repeats_every_n_years %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_yearly_each_months_of_the_year_mask) %>:</strong></dt>
  <dd><%= @booking.repeats_yearly_each_months_of_the_year_mask %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_yearly_on) %>:</strong></dt>
  <dd><%= @booking.repeats_yearly_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_yearly_on_ordinals_mask) %>:</strong></dt>
  <dd><%= @booking.repeats_yearly_on_ordinals_mask %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeats_yearly_on_days_of_the_week_mask) %>:</strong></dt>
  <dd><%= @booking.repeats_yearly_on_days_of_the_week_mask %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeat_ends) %>:</strong></dt>
  <dd><%= @booking.repeat_ends %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repeat_ends_on) %>:</strong></dt>
  <dd><%= @booking.repeat_ends_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_zone) %>:</strong></dt>
  <dd><%= @booking.time_zone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_id) %>:</strong></dt>
  <dd><%= @booking.room_id %></dd>
  <dt><strong>Booked by:</strong></dt>
  <dd><%= @booking.booker.name %></dd>
  <dt><strong>Booked created:</strong></dt>
  <dd><%= @booking.created_at%></dd>
  <dt><strong>Booked last updated:</strong></dt>
  <dd><%= @booking.updated_at%></dd>
</dl>



<%= link_to 'Edit', edit_booking_path(@booking), :class => 'btn btn-default' %>
<%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default' %>
