


<div id="custom_attributes_section" >
  
  <%= f.fields_for(:custom_attributes, :include_id => false) do |builder| %>
  
  <div class="container">
    <div class="row">
      <div class="custom-attribute panel panel-default">
        
        <div class="panel-heading">
          <span class="panel-title col-xs-8 col-sm-10 col-md-10">Custom attribute</span>
          <span>
            <%= link_to "Delete attribute", room_custom_attribute_path(@room, builder.object), :method => :delete,  :remote => true, :onclick => "$(this).closest('.custom-attribute').remove()", :class => 'delete_custom_attribute btn btn-danger btn-xs' %>
          </span>
        </div>

        <div class="panel-body">
              
          <%= builder.hidden_field :id %>

          <%= builder.hidden_field :room_id %>

          <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <%= builder.label :name, :class => 'control-label sr-only' %>
            <div class="control">
              <%= builder.text_field :name, :class => 'text_field col-xs-11', :placeholder => 'attribute name' %>
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <%= builder.label :value, :class => 'control-label sr-only' %>
            <div class="control">
              <%= builder.text_field :value, :class => 'text_field col-xs-11', :placeholder => 'attribute value' %>
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
    
  <% end %>

</div>