<%= form_for(@custom_attribute) do |f| %>
  <% if @custom_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_attribute.errors.count, "error") %> prohibited this custom_attribute from being saved:</h2>

      <ul>
      <% @custom_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.number_field :room_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
