
<%= form_for(@room , :url => organization_room_path(@organization, @room), :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="room-fields">

    <%= f.hidden_field :organization_id, :class => 'text_field', :value => @organization.id %>

    <div class="form-group">
      <%= f.label :name, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :location_id, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
         <%= select('room', 'location_id', Location.all.collect {|l| [l.name, l.id]}, {prompt: 'SELECT', include_blanks: 'None'})%>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :price_per_hour, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :price_per_hour, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :people_capacity, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :people_capacity, :class => 'text_field' %>
      </div>
    </div>
  </div>
  
<%= render(:partial => 'custom_attributes/form_fields', :locals => {:f => f}) %>

  <div class="form-actions">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  organization_path(@organization), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
