<h1>Listing rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price per hour</th>
      <th>Location</th>
      <th>Organization</th>
      <th>People capacity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.price_per_hour %></td>
        <td><%= room.location_id %></td>
        <td><%= room.organization_id %></td>
        <td><%= room.people_capacity %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
