<%- model_class = Organization -%>
<div class="page-header">
  <h1><%= @organization.name %></h1>
</div>

<div id="organization-details">

  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                organizations_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_organization_path(@organization), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                organization_path(@organization),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= @organization.name %></dd>
  </dl>

</div>

<p>
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a href="#rooms" data-toggle="tab">Rooms</a>
    </li>
    <li class>
      <a href="#locations" data-toggle="tab">Locations</a>
    </li>
    <li class>
      <a href="#memberships" data-toggle="tab">Members</a>
    </li>
  </ul>
</p>

<div class="tab-content">
  <div class="tab-pane active" id="rooms">
    <%= render "rooms/rooms_table" %>
  </div>
  
  <div class="tab-pane" id="locations">
    <%= render "locations/locations_table" %>
  </div>
  
  <div class="tab-pane" id="memberships">
    <%= render "memberships/memberships_table" %>
  </div>
  
</div>




