<%- model_class = PermissionSet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:create__organizations) %></th>
      <th><%= model_class.human_attribute_name(:create__memberships) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @permission_sets.each do |permission_set| %>
      <tr>
        <td><%= link_to permission_set.id, permission_set_path(permission_set) %></td>
        <td><%= permission_set.create__organizations %></td>
        <td><%= permission_set.create__memberships %></td>
        <td><%=l permission_set.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_permission_set_path(permission_set), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      permission_set_path(permission_set),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_permission_set_path,
            :class => 'btn btn-primary' %>
