<%= form_for(@location , :url => organization_location_path(@organization, @location), :html => { :class => 'form-horizontal' }) do |f| %>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :organization, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <p class="form-control-static">
        <%= @organization.name %>
      </p>
    </div>
  </div>

  <%= f.hidden_field :organization_id, :class => 'text_field', :value => @organization.id %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="controls col-lg-10">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address_line_1, :class => 'control-label col-lg-2' %>
    <div class="controls col-lg-10">
      <%= f.text_field :address_line_1, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :address_line_2, :class => 'control-label col-lg-2' %>
    <div class="controls col-lg-10">
      <%= f.text_field :address_line_2, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :town_city, :class => 'control-label col-lg-2' %>
    <div class="controls col-lg-10">
      <%= f.text_field :town_city, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :county, :class => 'control-label col-lg-2' %>
    <div class="controls col-lg-10">
      <%= f.text_field :county, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :postcode, :class => 'control-label col-lg-2' %>
    <div class="controls col-lg-10">
      <%= f.text_field :postcode, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :country, :class => 'control-label col-lg-2' %>
    <div class="controls col-lg-10">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  organization_path(@organization), :class => 'btn btn-default'  %>
    </div>
  </div>
  
<% end %>
