<%= form_for(@location , :url => organization_location_path(@organization, @location), :html => { :class => 'form-horizontal' }) do |f| %>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_line_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_line_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :town_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :town_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :county, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :county, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postcode, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :organization_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :organization_id, :class => 'text_field', :value => params[:organization_id] %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organization_path(params[:organization_id]), :class => 'btn' %>
  </div>
<% end %>
