<%- model_class = Location -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              organization_path(@location.organization_id), :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_location_path(@location), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              location_path(@location),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:organization) %>:</strong></dt>
  <dd><%= @location.organization.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @location.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_line_1) %>:</strong></dt>
  <dd><%= @location.address_line_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_line_2) %>:</strong></dt>
  <dd><%= @location.address_line_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:town_city) %>:</strong></dt>
  <dd><%= @location.town_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:county) %>:</strong></dt>
  <dd><%= @location.county %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postcode) %>:</strong></dt>
  <dd><%= @location.postcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @location.country %></dd>
</dl>
