<div class="navbar">

    <div class="navbar-heading">
      <% if user_signed_in? %>
        <%= link_to "Meeting Rooms", user_root_path, :class => 'navbar-brand' %>
      <% else %>
        <%= link_to "Meeting Rooms", root_path, :class => 'navbar-brand' %>
      <% end %>
    </div>


    <ul class="nav nav-default navbar-btn nav-pills">
      <% if user_signed_in? %>
        <li><%= link_to 'Edit account', edit_user_registration_path %></li>
        <li><%= link_to 'Organizations', organizations_path %></li>
      <% end %>

      <div class="pull-right">
        <% if user_signed_in? %>
          <%= link_to 'Log out', destroy_user_session_path, :method=>'delete', :class=> "btn btn-default" %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path, :class=> "btn btn-default" %>
          <%= link_to 'Sign up', new_user_registration_path, :class=> "btn btn-default" %>
        <% end %>
      </div>
    </ul>


</div>