<!DOCTYPE html>
<html>
<head>
  <title>Meeting Rooms</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<header>
			<%= render 'layouts/navigation' %>
			<%= render 'layouts/messages' %>
	</header>

	<div>
		<%= yield %>
    <div id="ember-app"></div>
	</div>

</div>
</body>
</html>
